{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
    
    ],
    "rules": {
        "@typescript-eslint/no-var-requires": 0,
    },
    "env": {
        "es6": true,
        "node": true
    },
}